/** Global **/
.none {display: none;}

.container{
    background-color: #ECECEC;
    margin-left: 240px;
}
.sidebar{
    position: fixed;
    width: 200px;
    background-color: #ededed;
    border: 1px solid #dcdcdc;
    padding: 10px;
    margin: 10px;
}
.components {
    list-style: none;
}
.components li{
    background-color:#FFF;
    text-align:center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}
.view {
    background-color: #ff0;
}
.container .drop-area {
  background: #F7F7F7; 
  border:1px solid #ccc;
  margin:2px;
  padding: 20px;
  min-height: 150px;
}
.container .vertical {
	float: left;
}

.container .ui-highlight {
  background-color: #ff0;
}
.com {
  height: 150px;
  border: 1px solid #666666;
  background-color: #ccc;
  /* margin: 5px; */
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
}
.com header {
  color: #fff;
  text-shadow: #000 0 1px;
  box-shadow: 5px;
  padding: 5px;
  background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -webkit-gradient(linear, left top, right top,
                               color-stop(0, rgb(0,0,0)),
                               color-stop(0.50, rgb(79,79,79)),
                               color-stop(1, rgb(21,21,21)));
  background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  border-bottom: 1px solid #ddd;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -ms-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}

.sortable-place-holder{
    background-color: #BFB;
	border: 1px dashed #666;
	height: 150px;
	margin: 5px;
}

.clearfix::before, .clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}
.com-h-btn {
	float: right;
	border-radius: 20px;
	border: 1px solid #fff;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin-top: -3px;

}

.pie, .trend {
	float:left;
}

.horizon .sortable-place-holder{
	float:left;
}