/** Global **/
.none {display: none;}

.toolbar ul li {margin: 5px; background-color: #F1F1F1; border: 1px solid #DAD8D8; display:inline-block;padding: 10px;border-radius: 4px;}
.red-btn{
	color:#fff;
	background:#953b39;
}
.green-btn{
	color:#fff;
	background: #1B6AA6;
}



.editor .workspace{
    background-color: #F7F7F7;
    border: 1px solid #dedede;
	
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    float: right;
    width: 79%;
}

.editor .workspace:after{
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0 4px 0;
	color: #9DA0A4;
	content: "Container";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}



.editor .sidebar{
    width: 200px;
    float: left;
    background-color: #ededed;
    border: 1px solid #dcdcdc;
    padding: 10px;
    margin: 0 10px 0 10px;
}
.components {
    list-style: none;
}
.components li{
    background-color:#FFF;
    text-align:center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}
.view {
    background-color: #ff0;
}
.workspace .drop-area {
  background: #F7F7F7; 
  border:1px solid #ccc;
  margin:2px;
  /* padding: 20px; */
  min-height: 150px;
  box-sizing: border-box;
  box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.workspace .drop-area .com-preview:first-child{
	margin-left: 0;
}
.workspace .drop-area .com-preview {
	margin-left: 2%;
}
.workspace .drop-area:before, .workspace .drop-area:after{
	display: table;
	content: "";
	line-height: 0;
}
.workspace .vertical {
	float: left;
}

.workspace .ui-highlight {
  background-color: #ff0;
}
.com-preview {
  height: 150px;
  border: 1px solid #D5D4D4;
  background-color: #fcfcfc;
  /* margin: 5px; */
  position: relative;
  margin: 15px 0;
  box-sizing: border-box;
}


.com-preview  header {
	height: 30px;
	position:relative;
}
.com-preview-con {
}

.com-preview .com-h-btn {
}

.com-preview .close, .com-preview .config{
	float: right;
	padding: 3px 6px;
	margin: 3px;
}

.com-preview  header .title {
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0 4px 0;
	color: #9DA0A4;
	content: "Container";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}

.sortable-place-holder{
    background-color: #BFB;
	/*border: 1px dashed #666;*/
	height: 150px;
}

.clearfix::before, .clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}

.pie, .trend {
	float:left;
	/* margin: 5px; */
}

.horizon .sortable-place-holder{
	float:left;
	margin: 15px 0;
}

.components .com-preview {
	display: none;
}
.components .ui-draggable-dragging{
	display: block;
}
.ui-draggable-dragging {
	z-index: 9999;
}
.sub-menu {
	display: none;
}
.dnd-com-config{
	background-color: #F1F1F1;
	position:absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
}
.dnd-com-config-field{
    margin: 10px 0 10px 5px;
}
.dnd-com-config-field label{
	margin-right: 10px;
}
.dnd-com-config-field label:after{
	content: ":"
}