/** Global **/
.none {display: none;}

.toolbar ul li {margin: 5px; background-color: #F1F1F1; border: 1px solid #DAD8D8; display:inline-block;padding: 10px;border-radius: 4px;}

.editor .workspace{
    background-color: #F7F7F7;
    border: 1px solid #dedede;
    margin-left: 240px;
	padding: 30px;
    box-sizing: border-box;
    position: relative;
}

.editor .workspace:after{
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0 4px 0;
	color: #9DA0A4;
	content: "Container";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}
.editor .sidebar{
    /* position: fixed; */
    width: 200px;
    float: left;
    background-color: #ededed;
    border: 1px solid #dcdcdc;
    padding: 10px;
    margin: 0 10px 0 10px;
}
.components {
    list-style: none;
}
.components li{
    background-color:#FFF;
    text-align:center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}
.view {
    background-color: #ff0;
}
.workspace .drop-area {
  background: #F7F7F7; 
  border:1px solid #ccc;
  margin:2px;
  /* padding: 20px; */
  min-height: 150px;
  box-sizing: border-box;
  box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
}
.workspace .vertical {
	float: left;
}

.workspace .ui-highlight {
  background-color: #ff0;
}
.com-preview {
  height: 150px;
  /* border: 1px solid #666666; */
  background-color: #ccc;
  z-index: 9999;
  /* margin: 5px; */
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
}
.com-preview  header {
  color: #fff;
  text-shadow: #000 0 1px;
  box-shadow: 5px;
  padding: 5px;
  background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -webkit-gradient(linear, left top, right top,
                               color-stop(0, rgb(0,0,0)),
                               color-stop(0.50, rgb(79,79,79)),
                               color-stop(1, rgb(21,21,21)));
  background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  border-bottom: 1px solid #ddd;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -ms-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}

.sortable-place-holder{
    background-color: #BFB;
	/*border: 1px dashed #666;*/
	height: 150px;
}

.clearfix::before, .clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}
.com-h-btn {
	float: right;
	border-radius: 20px;
	border: 1px solid #fff;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin-top: -3px;

}

.pie, .trend {
	float:left;
	/* margin: 5px; */
}

.horizon .sortable-place-holder{
	float:left;
}

.components .com-preview {
	display: none;
}
.ui-draggable-dragging .com-preview {
	display: block;
}
.ui-draggable-dragging .title{
	display: none;
}